body{
  background-color:#FFF;
}

#wrap{
  position:relative;
  min-width:1052px;
  min-height:100%;
}

#header{
  position:relative;
  width: auto;
  text-align: center;
}

#header .layout_in{
  position: relative;
  height: 200px;
}

#content {
  position:relative;
  width:auto;
  min-height:100%;
  margin-left: 20%;
  margin-right: 20%;
}

#content .section{
  float:left;
  width: 30%;
  min-height: auto;
  margin-left: 1%;
  margin-right: 1%;
}

#content .section .title{
  min-width: 100%;
  height:100px;
  background-color: #4646CD;
  color:#FFF;
  font-size:15px;
  border: 1px;
}

#context .section > span{
  display: inline-block;
  vertical-align: middle;
}

#content .lnk{
  position: absolute;
  left: 0;
  right: 0;
  top:30px;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

#content .lnk li{
  display: inline-block;
  font-size: 30px;
  width:200px;
  margin-left: 2%;
  margin-right: 2%;
}

li,ol,ul{
  list-style: none;
}
